services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres_db
    environment:
      POSTGRES_USER: my_blog_db
      POSTGRES_PASSWORD: password
      POSTGRES_DB: my_blog_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U my_blog_db"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: